{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/examples/">Back</a>

      <h1 class="heading-large">
       What's your home address?
      </h1>

    
    <br>

      <form class="form">

      <label>Building number or name</label>   <div></div>
<input class="form-control" id="full-name-f1" type="text">





    <br>
      <form class="form">

          
          <br>
      <label>Street</label>   <div></div>
<input class="form-control" id="full-name-f1" type="text">

<div>
</div>
<p>
</p>
          <br>

      <form class="form">

      <label>City or town</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">

      <p>
      </p>
  <br>

      <form class="form">

      <label>Postcode</label><p class="form-hint">Optional outside the UK</p><div> </div>
<input class="form-control" id="full-name-f1" type="text">

      <form class="form">


      <div>
      </div>
      <p>
      </p>

  <br>
      <form class="form">

      <label>Country</label><div> </div>
<input class="form-control" id="full-name-f1" type="text">

          </form>
          
          <br>
          <br>

          </fieldset>
          <p>
        <a class="button button-start" href="16emailphone" role="button">next</a>
      </p>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
