{% extends "layout.html" %}

{% block page_title %}
 Travel details - where
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      

      <h1 class="heading-large">
       Which country are you in now?
      </h1>

      <p>Your exact journey will be printed in your emergency travel document. <p/>

         <div><br/></div>
        
      <form class="form">

      <label class="heading-small" for="full-name-f1">Country</label><br/>
            <p class="form-hint">e.g. Portugal, Canada</p>
<input class="form-control" id="full-name-f1" type="text">
          
          <div><br/></div>
          
          
          <div>

      <form action="/" method="post" class="form">

        <h1 class="heading-small">
          Do you need to return to where you are now?
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden"> Do you need to return to where you are now?</legend>

                <label for="radio-yes" class="block-label" >
              <input id="radio-yes" type="radio" name="return" value="yes">
             
              Yes
            </label>

            <label for="radio-no" class="block-label">
              <input id="radio-no" type="radio" name="return" value="no">
            
             No
            </label>

   </div>
            <div class="panel panel-border-narrow js-hidden" id="yes">
              <label class="form-label" for="yes">
              <p>
                For the sake of this test, please select No.
                </p>
            </div>

           <div><br/></div>
                <div
          <p>
        <a class="button button-start" href="10travelwhereto" role="button">next</a>
      </p>
        </div>

     
    </div>
  </div>
</main>

{% endblock %}
