{% extends "layout.html" %}

{% block page_title %}
  Upload photo
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

     
        <h1 class="heading-xlarge">
      Photo uploaded
      </h1>
        
        <p>We will check it manually and we could still ask for another if something doesn't look right.</p>
          
      
        </br>
    

</div>

            </div>
        
      <p>
        <a class="button button-start" href="task-list/tasklistsummary3.html" role="button">Next</a>
          

      <br/>
     
    
</main>



{% endblock %}
