{% extends "layout.html" %}

{% block page_title %}
  Upload photo
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

     
        <h1 class="heading-xlarge">
      Photo uploaded
      </h1>
        
        
          
      
        </br>
    

</div>

            </div>
        
      <p>
        <a class="button button-start" href="tasklistsummary3.html" role="button">Next</a>
          

      <br/>
      
          <div class="related-container">
      <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Passports
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/get-a-child-passport" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Get a passport for your child&quot;}" href="/get-a-child-passport">Get a passport for your child</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/get-a-passport-urgently" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Get a passport urgently&quot;}" href="/get-a-passport-urgently">Get a passport urgently</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/renew-adult-passport" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Renew or replace your adult passport&quot;}" href="/renew-adult-passport">Renew or replace your adult passport</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.4" data-track-label="/emergency-travel-document" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Get an emergency travel document&quot;}" href="/emergency-travel-document">Get an emergency travel document</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.5" data-track-label="/browse/abroad/passports" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/abroad/passports">
                More
                  <span class="visuallyhidden">
                    in
                    Passports
                  </span>
</a>            </li>
        </ul>
      </nav>
      <h2 data-track-count="sidebarRelatedItemSection">
        Elsewhere on GOV.UK
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="2.1" data-track-label="/contact-police" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Contact the police&quot;}" href="/contact-police">Contact the police</a>
            </li>
        </ul>
      </nav>
  </aside>

</div>
    
</main>



{% endblock %}
