{% extends "layout.html" %}

{% block page_title %}
  Upload police report
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
        <li><a href="../1start.html">Emergency Travel Document</a></li>
      <li><a href="../task-list-stolen/tasklistsummary0.html">Steps</a></li>
      <li>Upload police report</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Add your police report
      </h1>
        
         <p>As you have reported your passport as stolen and are in a country that issues a police report for this, you need to provide a copy of it.</p>
        
        <p>If you are using a phone or tablet that can take photos, you can take a photo of each page of your police report and upload it now.</p>
        
        <div class="grid-row">
    <div class="column-two-thirds">
        
         <h2 class="heading-medium">How to photograph your police report</h2>
      
 
                    <ul class="list list-number">
                        <li>Lay it flat on a table or for better results against a wall</li>
                        <li>Use the upload a photo button</li>
                         <li>Photograph each page</li>
                          <li>Make sure references are readable</li>
                        <li>No flash if possible</li>
                        <li>Position the phone parallel to the document</li>
                        <li>Use both hands to keep your phone steady</li>
                    </ul>
                   
                    <p>If you need more detail, you can watch the<a href=""> how to photograph a document video</a> (optional) </p>
                </div>
        <br>
        
               
      
        </br>
    

</div>
 <br>
            </div>
        
      <p>
        <a class="button button-start" href="../task-list-stolen/tasklistsummary3.html" role="button">Upload a photo of the police report</a>
          

      <br/>
            <br/>
          <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">Send this page to the device I'm using to photograph the police report</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can text or email this page to the device you are using to take the photo of the police report. If a friend is using their phone to take photo of you, enter their phone number here.</p>
                    
                     <form class="form">

      <label class="heading-small" for="full-name-f1">Phone number or email</label><br/>
            <p class="form-hint">of the device you're using to take and/or upload the photo</p>
<input class="form-control" id="full-name-f1" type="text">
                </div>
            </details>
          
    
      
            <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">I can't photograph the police report</span></summary>
                <div class="panel panel-border-narrow">
                    <p>Taking a digital photo of your police report will speed up your application, as the consulate can process this before you arrive for your appointment. Can you ask someone with a phone to help you? Such as a tour guide or a member of hotel staff or a neighbour.  If you cannot take a digital photo, bring the report to the appointment.</p>
                    <a class="button button-start" href="../task-list-stolen/tasklistsummary2.html" role="button">I understand - return to steps</a>
                </div>
            </details>
       
    </div>

        

     
   

</main>

{% endblock %}
