{% extends "layout.html" %}

{% block page_title %}
  Upload police report
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
        <li><a href="../1start.html">Emergency Travel Document</a></li>
      <li><a href="../task-list-proof-address/tasklistsummary0.html">Steps</a></li>
      <li>Proof of address</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Add your proof of address
      </h1>
        
         <p>Provide proof of your address outside the UK.</p>
        
        
         <div class="column-two-thirds">
        
         <h2 class="heading-medium">How to photograph your document</h2>
      
 
                    <ul class="list list-number">
                        <li>Lay it flat on a table or for better results against a wall</li>
                          <li>Make sure your address is readable</li>
                        <li>No flash if possible</li>
                        <li>Position the phone parallel to the document</li>
                        <li>Use both hands to keep your phone steady</li>
                    </ul>
                   
                    <p>If you need more detail, you can watch the<a href=""> how to photograph a document video</a> (optional) </p>
                </div>
        <br>
        
               
      
        </br>
    

</div>
        
               
      
        </br>
    

</div>

            </div>
        
      <p>
        <a class="button button-start" href="../task-list-proof-address/tasklistsummary3.html" role="button">Take a photo of your document</a>
          

      <br/>
            <br/>
          <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">Send this page to the device I'm using to upload or photograph the document</span></summary>
                <div class="panel panel-border-narrow">
                    <p>You can text or email this page to the device you are using to take the photo of the document. If a friend is using their phone to take photo of your document, enter their phone number here.</p>
                    
                     <form class="form">

      <label class="heading-small" for="full-name-f1">Phone number or email</label><br/>
            <p class="form-hint">of the device you're using to take and/or upload the photo</p>
<input class="form-control" id="full-name-f1" type="text">
                </div>
            </details>
          
    
      
            <details>
                <summary><span class="summary js-gaevent" data-galabel="details" data-gakey="printed photo">I can't upload the document</span></summary>
                <div class="panel panel-border-narrow">
                    <p>Uploading your proof of address now will speed up your application, as the consulate can process this before you arrive for your appointment. Can you ask someone with a phone to help you?  If you cannot upload proof of address, bring it to the appointment.</p>
                    <a class="button button-start" href="../task-list-proof-address/tasklistsummary2.html" role="button">I understand - return to steps</a>
                </div>
            </details>
       
    </div>

        

     
   

</main>

{% endblock %}
