// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';


// --------- ETDONLINE STYLING --------- //
// Styling additional to the gov.uk toolkit.

// HEADER NAVIGATGIONLS

#global-header .header-proposition #proposition-name {
	font-size: 18px;
}

#proposition-menu {
	text-align:right; 
	margin-right:5px
}

// HEADINGS

.heading-xlarge {
	margin-bottom:30px
}

// FOOTER

#footer {
	border-top: 10px solid #005ea5;
}

// RESETS

a:link {
	transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;	
}

button:focus, a:focus, 
button:active, a:active {
    outline: none;
	background-color: rgba(0,0,0,0);
	background: none;
}