{% extends "layout.html" %}

{% block page_title %}
  ETD - Task list V9
{% endblock %}



{% block content %}

<main id="content" role="main">


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

     

      <ol class="task-list">
        <li>
       
          <ul class="task-list-items">
        
                 <li class="task-list-item">
              <a class="task-name" href="../application/2yourself">
               Enter your details
              </a>
                     <strong class="task-completed" id="eligibility-completed">Completed</strong>
                    
            </li>
          
              
               <li class="task-list-item">
              <a class="task-name" href="../photo/photo1">
                Take your photo
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
                <li class="task-list-item">
              <a class="task-name" href="../documents/proof-of-address-start.html">
                Add your proof of address
              </a>
                    <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
            
              <li class="task-list-item">
              <a class="task-name" href="../payment-how">
                Choose how to pay
              </a>
                <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Pay now (optional)
              </a>
                  <strong class="task-completed" id="eligibility-completed">Completed</strong>
              </li>
                  
                   <li class="task-list-item">
              <a class="task-name" href="../appointment/whichconsulate">
                Book appointment to collect your ETD
              </a>
                       <strong class="task-completed" id="eligibility-completed">Completed</strong>
              </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
    
    <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <p>We have sent you a confirmation email.</p>
        
         <h2 class="heading-medium">Appointment confirmation</h2>
        <p>Date: 12/01/2017</p>
          <p>Time: 10am</p>
          <p>Address: British Embassy Madrid<br>
Torre Espacio <br>
Paseo de la Castellana 259D<br>
28046 Madrid <br>
Spain</p><br>
        
        <h2 class="heading-medium">Payment confirmation</h2>
        
         <p> Thank you for your order from the Foreign & Commonwealth Office. We have now taken payment for the following:</p>

<p>Date: 12/01/2017<br>Payment Reference: ETD-BALI-ECOMM-110117-osz<br>FCO Reference: 1614841804585275<br>Service: emergency travel document<br>Amount: 100 GBP<br>Card type: visa<br>Card number: XXXX XXXX XXXX 2878</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Your application is with the consulate, being processed ahead of your appointment. Thank you for submitting your photo and proof of address digitally, this will speed up processing time.</p>
      <p>The consulate will contact you if there are any problems with your application, using the phone number or email you gave. If you don't hear from them, assume the application has been processed.</p>
        <p>Please allow 30 minutes ahead of your appointment to sign in and go through security. (Please note, devices cannot be taken into the consulate.</p>
        <p>In your appointment, you will be asked to sign your emergency travel document and a declaration.</p>
        
        <p><a href="">Print or save this page</p>
        
      <p><a href="">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>
    
</main>


  </div>

</main>

{% endblock %}
