{% extends "layout.html" %}

{% block page_title %}
  ETD - Task list V9
{% endblock %}



{% block content %}

<main id="content" role="main">


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
       Complete these steps to apply for an emergency travel document (ETD)
      </h1>

      <ol class="task-list">
        <li>
       
          <ul class="task-list-items">
        
                 <li class="task-list-item">
              <a class="task-name" href="../application/2yourself">
               Enter your details
              </a>
                     
                     
            </li>
          
              
               <li class="task-list-item">
              <a class="task-name" href="../photo/photo1">
                Take your photo
              </a>
            </li>
            
              <li class="task-list-item">
              <a class="task-name" href="../payment-how">
                Choose how to pay
              </a>
            </li>
              
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Pay now (optional)
              </a>
           
                  
                   <li class="task-list-item">
              <a class="task-name" href="../appointment/whichconsulate">
                Book appointment to collect your ETD
              </a>
                       <strong class="task-completed" id="eligibility-completed">Completed</strong>
              </li>
                  
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>


  </div>

</main>

{% endblock %}
