{% extends "layout.html" %}

{% block page_title %}
  ETD - Task list 1
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Start</a></li>
      <!--li>Subsection</li-->
    </ol>
  </div>


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Apply for an emergency travel document
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Enter your details
          </h2>
          <ul class="task-list-items">
        
                 <li class="task-list-item">
              <a class="task-name" href="2yourself">
               Check elgibility
              </a>
                      <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
          
              <li class="task-list-item">
              <a class="task-name" href="5yourdetails">
                Enter your details
              </a>
            </li>
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Enter passport details
              </a>
            </li>
          </ul>
        </li>
        <li>
            
            <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Arrange collection or delivery
          </h2>
            
          <ul class="task-list-items">
            
              <li class="task-list-item">
              <a class="task-name" href="#">
                Choose collection or delivery
              </a>
            </li>
               <li class="task-list-item">
              <a class="task-name" href="#">
                Book place, date and time
              </a>
            </li>
              
          </ul>
            
            
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Prepare emergency travel document
          </h2>
            
          <ul class="task-list-items">
            
              <li class="task-list-item">
              <a class="task-name" href="#">
                Enter travel destination(s) and dates
              </a>
            </li>
              
               <li class="task-list-item">
              <a class="task-name" href="#">
                Read how to take a good photo
              </a>
            </li>
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Upload a photo
              </a>
            </li>
              
          </ul>
        </li>
        <li>
         <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Upload other documents (optional)<span class="form-hint">
        You need to do this if you live outside the UK or have a police report.
          <br>
        </span>
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
               Copy of a police report
              </a>
            </li>
              <li class="task-list-item">
              <a class="task-name" href="#">
              Proof of address if you live outside the UK
              </a>
            </li>
               <li class="task-list-item">
              <a class="task-name" href="#">
               Proof of booked travel (e.g. plane tickets)
              </a>
            </li>
          </ul>
            
              
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Pay
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Payment options and payment
              </a>
           
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>


  </div>

</main>

{% endblock %}
