{% extends "layout.html" %}

{% block page_title %}
  Next steps - links dashboard
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h1 class="heading-large">
          Next steps
        </h1>
        <p>
        You've chosen delivery by courier, so follow the links below to complete your application online and book a courier. 
        </p>

          <table class="check-your-answers"> 
          
          <tbody>
              <tr>
                  <td>
                <tr></tr>
                  </td>
              <td>
                  
                  <h3 class="heading-medium">Your application</h3>
                  <p>If you like, you can download or save a <a href="#">copy of your application form</a> </p>
                   <h1 class="heading-small">
      <span class="heading-secondary">You've entered all your details</span>
    </h1> 
                  
                  <div role="note" aria-label="Information" class="application-notice info-notice">
<p> </p>
</div>
                  </td>
              
              </tr>
              
               <tr>
              </br>
                  
              <td>
                   </br>
                   <a href="#" <h3 class="heading-medium">Upload a photo</h3></a>
                  <p>You can take a photo with your phone, tablet or camera and upload it.</p>
                  
       
      <h1 class="heading-medium">
      <span class="heading-secondary">You haven't uploaded a photo</span>
    </h1> 
               
        
        <div role="note" aria-label="Information" class="application-notice info-notice">
                      <span class="heading-secondary"> </span>
</div>
                  </td>
              
              </tr>
              
                 <tr>
              </br>
                  
              <td>
                   </br>
                   <a href="#" <h3 class="heading-medium">Upload other evidence - optional</h3></a>
                  <p>You can upload other evidence. Photo's of documents are fine if the references are readable</p>

<p>Evidence such as:</p>

    <ul class="list list-bullet">
        <li>Police report</li>
        <li>Proof of address (bill or bank statement) if you live abroad and want to return</li>
        <li>Travel confirmations - such as flights</li>
      </ul>
                  
       
      <h1 class="heading-medium">
      <span class="heading-secondary">You haven't uploaded any files</span>
    </h1> 
               
        
        <div role="note" aria-label="Information" class="application-notice info-notice">
                      <span class="heading-secondary"> </span>
</div>
                  </td>
              
              </tr>
              
              </tbody>
          
          
          
          </table>
              
           <h3 class="heading-medium">A 24px heading</h3>
          <a href="#" class="bold-xsmall">More</a>
          <a href="#">link</a>
          
          <a href="#" <h3 class="heading-medium">test heading</h3></a>

       

    </div>
  </div>
</main>
{% endblock %}
