{% extends "layout.html" %}

{% block page_title %}
Upload photo v1
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
      Upload your photo
      </h1>

     <p>Your photo must meet the rules for digital passport photos.<br><a href="etd_1howtotakephoto">Read the photo guide</a>.</p>

        
<div class="panel panel-border-wide">
                <p>We’ll store all photos for up to 30 days in line with our <a href="" class="new-window" target="_blank">privacy policy<span class="visuallyhidden">(Opens in a new window)</span></a>.</p>
            </div>        
      
        </br>
        
      <p>
        <a class="button button-start" href="20bnextsteps" role="button">Upload your photo</a>
      </p>

      <br/>
      
      
      
      <h2 class="heading-medium">How to take a good photo</h2>
      
      
      
      
      
  <div class="grid-row photo-upload-guide">
                <div class="column-half img">
                    <img src="https://www.passport.service.gov.uk/public/images/good-passport-photo.jpg" alt="">
                </div>
                <div class="column-half">
                    <ul class="list list-number">
                        <li>Get a friend to take your photo</li>
                        <li>Use a plain background</li>
                        <li>Don’t crop your photo &ndash; include your face, shoulders and upper body</li>
                        <li>Keep your hair away from your face and brushed down</li>
                        <li>Make sure there are no shadows on your face or behind you</li>
                    </ul>
                </div>
            </div>
<input type="hidden" name="x-csrf-token" value="FL1yeIdc-JOBHoCOHSE77ydXyhLzeLeNecos" />

        <script src="https://www.passport.service.gov.uk/photo/public/javascripts/keepalive.js"></script>
    </div>
   

</main>

{% endblock %}
