{% extends "layout.html" %}

{% block page_title %}
  transit countries page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      

      <h1 class="heading-large">
        Enter transit countries
      </h1>

      <p>A transit country is one you travel through and stop at before reaching your final destination. This includes stopping at Airports.  (It does not include flying over countries).  Your exact journey, including any transit countries, will be printed in your emergency travel document.  You can use an emergency travel document to travel to your final destination via up to 5 countries.

      <form class="form">


      <label class="heading-small" for="full-name-f1">First transit country</label>
          <span class=form-hint> If not applicable, leave blank </span>
     <p>
     </p>

<input class="form-control" id="full-name-f1" type="text">
            
<p>
</p>

<div>

      <p><a href="/noTransit">Add another transit country.</a> </p>
      <div/>


<div 

      <form action="/" method="post" class="form">

       
          </fieldset>
          <p>
        <a class="button button-start" href="20traveldates" role="button">next</a>
      </p>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
