{% extends "layout.html" %}

{% block page_title %}
  ETD - Task list V3
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Apply for an emergency travel document
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Enter your details
          </h2>
          <ul class="task-list-items">
        
                 <li class="task-list-item">
              <a class="task-name" href="2yourself">
               Check elgibility
              </a>
                     <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
          
              <li class="task-list-item">
              <a class="task-name" href="5yourdetails">
                Enter your details
              </a>
                  <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              <li class="task-list-item">
              <a class="task-name" href="9whyetd">
                Enter your situation details
              </a>
                  <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              
                 <li class="task-list-item">
              <a class="task-name" href="14travelwhy">
                Enter your travel details
              </a>
                     <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              
             
               
               <li class="task-list-item">
               <a class="task-name" href="25confirmation">
                Check application and submit
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              
              
              
              
          </ul>
            
             <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Arrange to get your emergency travel document
          </h2>
          <ul class="task-list-items">
           
               <li class="task-list-item">
              <a class="task-name" href="21collectionordelivery">
                Choose collection or delivery
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
               <li class="task-list-item">
              <a class="task-name" href="22collectionconsulate">
                Choose place, date and time
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
           
          </ul>
        </li>
          
            
        </li>
        <li>
            
            <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Next steps
          </h2>
            
           
            
          <ul class="task-list-items">
            
            
          </ul>
            
          
            <h3>3a.You'll need a photo</h3>
    
            <p>The quickest and easiest way is to take and upload a digital photo (we'll show you how).   </p>
          <ul class="task-list-items">
              
               <li class="task-list-item">
              <a class="task-name" href="1photo-findacamera">
                Read how to take a good photo
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              <li class="task-list-item">
              <a class="task-name" href="26uploadphoto">
                Upload a photo
              </a>
            </li>
              
 <p>Note: If this is not possible, you can find a photo booth and bring a passport photo with you to the appointment.</p>
              
          </ul>
        </li>
        <li>
            <h3>3b.  If applicable, upload documents</h3>
         
       <p> You need to do this if:</p>
              <ul class="list list-bullet">
              <li>you live outside the UK and want to return home</li>
                  <li>have a police report</li>
              </ul>
             
          <br>
       
         
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="27uploaddocuments">
               Upload documents
              </a>
          </ul>
            
              
      
          
          
          <li>
              <h3>3c. Choose how you'll pay</h3>
          
          <ul class="task-list-items">
            
              <li class="task-list-item">
              <a class="task-name" href="24payment">
                Choose payment option
              </a>
            </li>
              
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Pay now (optional)
              </a>
           
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>


  </div>

</main>

{% endblock %}
