{% extends "layout.html" %}

{% block page_title %}
  ETD - Task list V3
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
       Summary and next steps
      </h1>

      <ol class="task-list">
        <li>
       
          <ul class="task-list-items">
        
                 <li class="task-list-item">
              <a class="task-name" href="21confirmation">
               Your application
              </a>
                     <strong class="task-completed" id="eligibility-completed">Completed</strong>
                     
            </li>
          
              
              
               <li class="task-list-item">
              <a class="task-name" href="photo1-findacamera">
                Read how to take a good photo
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
               <li class="task-list-item">
              <a class="task-name" href="photo8-upload">
                Take your photo
              </a>
            </li>
            
              <li class="task-list-item">
              <a class="task-name" href="24payment">
                Choose payment option
              </a>
            </li>
              
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Pay now (optional)
              </a>
           
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>


  </div>

</main>

{% endblock %}
