{% extends "layout.html" %}

{% block page_title %}
  ETD - Task list V2
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Apply for an emergency travel document
      </h1>

      <ol class="task-list">
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">1. </span> Enter your details
          </h2>
          <ul class="task-list-items">
        
                 <li class="task-list-item">
              <a class="task-name" href="2yourself">
               Check elgibility
              </a>
                     <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
          
              <li class="task-list-item">
              <a class="task-name" href="5yourdetails">
                Enter your details
              </a>
                   <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              <li class="task-list-item">
              <a class="task-name" href="9whyetd">
                Enter your passport details
              </a>
                  <strong class="task-completed" id="eligibility-completed">Completed</strong>
            </li>
              
              
                <li class="task-list-item">
              <a class="task-name" href="14travelwhy">
                Enter your travel details
              </a>
            </li>
              
              
              
              
              
          </ul>
        </li>
        <li>
            
            <h2 class="task-list-section">
            <span class="task-list-section-number">2. </span> Choose and submit application
          </h2>
            
          <ul class="task-list-items">
            
              <li class="task-list-item">
              <a class="task-name" href="#">
                Choose collection or delivery
              </a>
            </li>
               <li class="task-list-item">
              <a class="task-name" href="#">
                Choose place, date and time
              </a>
            </li>
               <li class="task-list-item">
              <a class="task-name" href="#">
                Choose payment option
              </a>
            </li>
               <li class="task-list-item">
               <a class="task-name" href="25confirmation">
                Check application and submit
              </a>
            </li>
          </ul>
            
            
            <h1 class="heading-large">
        Additional steps
                 
      </h1>
            
            <p><span class="form-hint">Additional steps to fully process your emergency travel document online. <br>
                
              <p><strong>You must do this if</strong> you have chosen to have it delivered to you. It's optional if you're' collecting from a consulate, though may speed up the process. </p>
            
          <h2 class="task-list-section">
            <span class="task-list-section-number">3. </span> Upload a digital photo
          </h2>
            
          <ul class="task-list-items">
              
               <li class="task-list-item">
              <a class="task-name" href="#">
                Read how to take a good photo
              </a>
            </li>
              
              <li class="task-list-item">
              <a class="task-name" href="#">
                Upload a photo
              </a>
            </li>
              
          </ul>
        </li>
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">4. </span> Upload other documents (optional)<span class="form-hint">
        You need to do this if you live outside the UK or have a police report.
          <br>
        </span>
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
               Copy of a police report
              </a>
            </li>
              <li class="task-list-item">
              <a class="task-name" href="#">
              Proof of address if you live outside the UK
              </a>
            </li>
               <li class="task-list-item">
              <a class="task-name" href="#">
               Proof of booked travel (e.g. plane tickets)
              </a>
            </li>
          </ul>
            
              
        <li>
          <h2 class="task-list-section">
            <span class="task-list-section-number">5. </span> Pay online
          </h2>
          <ul class="task-list-items">
            <li class="task-list-item">
              <a class="task-name" href="#">
                Pay - (you or a friend)
              </a>
           
          </ul>
        </li>
      </ol>

    </div>
  </div>
</main>


  </div>

</main>

{% endblock %}
