{% extends "layout.html" %}

{% block page_title %}
  Example - Forms
{% endblock %}

{% block content %}
<main id="content" role="main">



  <form action="/docs/tutorials-and-examples" method="post" class="form">

    <h1 class="form-title heading-large">
      Is there any other information you can give?
    </h1>

    <!-- other info large text box -->
    

   <div data-reactid=".1owqbumt5og.4.1.0.2">
       <div data-reactid=".1owqbumt5og.4.1.0.2.0"></div>
       
       <form form="function (){t.apply(this,arguments)}" method="POST" autocomplete="off" action="" data-reactid=".1owqbumt5og.4.1.0.2.1">
           
           <div id="form-group-other-information" class="form-groupdefault otherInfoField" data-reactid=".1owqbumt5og.4.1.0.2.1.0">
               <span class="form-hint" data-reactid=".1owqbumt5og.4.1.0.2.1.0.0">(optional)</span>
               
               <textarea rows="3" cols="200" maxlength="1050" class="form-control" id="otherInformation" name="otherInformation" data-reactid=".1owqbumt5og.4.1.0.2.1.0.1"></textarea>
               <br data-reactid=".1owqbumt5og.4.1.0.2.1.0.2">
               
               
               <br data-reactid=".1owqbumt5og.4.1.0.2.1.0.3"><div data-reactid=".1owqbumt5og.4.1.0.2.1.0.4">
               
             </form></div>
  

    <div class="form-group">
       <a class="button button-start" href="21confirmation">next</a>
    </div>

  </form>

</main>
{% endblock %}
