{% extends "layout.html" %}

{% block page_title %}
  Appointment - choose consulate
{% endblock %}

{% block content %}
<main id="content" role="main">


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h3 class="heading-large">
          Where do you want your appointment?
        </h3>


        <p> Select which consulate to collect your emergency travel document from:

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">Nearest Consulate?</legend>

                   
            <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate General Madrid
            </label>

            <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate Alicante
            </label>

        <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate General Barcelona
            </label>
            
               <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate Ibiza
            </label>
              
               <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate Las Palmas de Gran Canaria
            </label>
              
              
               <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate Malaga
            </label>
              
               <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate Palma de Mallorca
            </label>
              
               <label for="radio-amsterdam" class="block-label">
              <input id="radio-amsterdam" type="radio" name="nearest-consulate" value="amsterdam">
             
              British Consulate Santa Cruz de Tenerife
            </label>
              
            </div>

            <p> </p>



            <p> 

          </fieldset>
          <p>
        <a class="button button-start" href="https://www.consular-appointments.service.gov.uk/fco/#!/british-consulate-general-madrid/issuing-an-emergency-travel-document/slot_picker" role="button">Next - choose date and time ></a>
      </p>
        </div>



      </form>

    </div>
  </div>
</main>
            

{% endblock %}
