{% extends "layout.html" %}

{% block page_title %}
  Courier or appt?
{% endblock %}

{% block content %}
<main id="content" role="main">


 <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">
          

    <h1 class="form-title heading-large">
    Courier or appointment?
    </h1>

      <p>
        How do you want to get your emergency travel document?
        </p>

        <div class="form-group">
          <fieldset>

           
            <label for="radio-part-2" class="block-label">
              <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
              <span class="heading-small">Delivered by courier</span><br>
              Delivery by courier costs an additional £20.  You'll be asked for an address and you'll sign for it or specify who is signing on your behalf. This option means completeing everything online, including uploading copies (photos) of documents and a digital photo of you. (You'll have to switch to the appointment option if you can't complete online).
            </label>

            <label for="radio-part-3" class="block-label">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <span class="heading-small">Appointment at an embassy, consulate or high commission.</span><br>
             You can book an appointment. This gives you the option of paying in person and bringing your passport photo and documents with you instead of uploading them. (Though uploading could still speed up the process)
            </label>

          </fieldset>
        </div>
   
  

    <div class="form-group">
       <a class="button button-start" href="18payment">next</a>
    </div>

  </form>

</main>
{% endblock %}
