{% extends "layout.html" %}

{% block page_title %}
 Next steps and progress
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
   Steps in this application
  </h1>

    
    <div class="grid-row">
    <div class="column-two-thirds">

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
         
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
         <h1 class="heading-xlarge">1. 
    </h1>
            
        </td>
        <td>
            <h3>Your details</h3>
          First you'll enter your details
            <br>
            <br>
            
            <div class="form-group">
    <a href="2yourself" class="button">Enter your details  ></a>
  </div>

        </td>
       
        
      </tr>
     
        
        
        
        
        
        
        <tr>
        <td>
         <h1 class="heading-xlarge">2. 
    </h1>
            
        </td>
        <td>
            <h3>Your photo - optional</h3>
          If you choose to have your emergency passport delivered to you, you need to upload a digital photo. If you're picking up your emergency passport in the consulate, then a photo upload is optional (it could speed up your application).  We'll show you how to take a photo for your emergency passport and upload it.  <br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
     
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">3. 
    </h1>
            
        </td>
        <td>
            <h3>Other documents - optional</h3>
         After that you'll have the option of uploading other documents if you need to. For example if you have a police report for a stolen passport, you can take a photo of it and upload it.<br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">4. 
    </h1>
            
        </td>
        <td>
            <h3>Book a courier or consulate appointment</h3>
         After that you can either book an appointment at a consulate of your choice or book a secure courier service to deliver your emergency passport to you.<br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">5. 
    </h1>
            
        </td>
        <td>
            <h3>Pay</h3>
         If you choose to have your emergency passport delivered to you, you need to pay online or have a friend pay online.   If you choose to collect in a consulate, you can pay online, have a friend pay online or pay at the consulate.  The emergency passport is £100 online (or the equivalent in local currency in the consulate). The courier service is an additonal £20 online.<br>
            <br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
    </tbody>
  </table>

  <h2 class="heading-medium">First enter your details</h2>

  <p class="text">
 It will take around 10 minutes
  </p>

  <div class="form-group">
    <a href="2yourself" class="button">Enter your details ></a>
  </div>

</main>

{% endblock %}
