{% extends "layout.html" %}

{% block page_title %}
 Next steps and progress
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Next steps
      <span class="heading-secondary">Your progress and next steps</span>
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
         
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
         <h1 class="heading-xlarge">1. 
      <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Your details</h3>
          Your details have been entered successfully.<br>
        Thank you<br>
        </td>
          <br/>
        <td>
          <a href="#">
            Copy of details <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
     
        
        
        
        
        
        
        <tr>
        <td>
         <h1 class="heading-xlarge">2. 
             <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Your photo</h3>
         Your photo has been uploaded. Thankyou.<br>
            <br>
           

        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
     
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">3. 
               <span class="heading-secondary">n/a</span>
    </h1>
            
        </td>
        <td>
            <h3>Other documents (optional)</h3>
         If you have a police report for a stolen passport, please <a href="#">upload a copy</a> now.(a photo of it is fine if you can read the reference number). If you live outside the UK and want to use the emergency travel document to return home, please <a href="#">upload a copy</a> of a bill or bank statement to show proof of your address. <br>
            <br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">4. 
                <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Book a courier</h3>
        You have successfully booked a courier. Thankyou.<br>
            <br>
             
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">5. 
    </h1>
            
        </td>
        <td>
            <h3>Pay</h3>
         You need to pay for the £100 emergency travel document and the £20 courier service.  The £120 fee can be paid online by you or by a friend.<br>
      </br>
        <div class="form-group">
    <a href="#" class="button">Pay  ></a>
  </div>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
    </tbody>
  </table>

  
</main>

{% endblock %}
