{% extends "layout.html" %}

{% block page_title %}
 Next steps and progress
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Next steps
      <span class="heading-secondary">Your progress and next steps</span>
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
         
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
         <h1 class="heading-xlarge">1. 
      <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Your details</h3>
          Your details have been entered successfully.<br>
        Thank you. <a href="#">copy of your details</a>
        </td>
          <br/>
        
      </tr>
     
        
        
        
        
        
        
        <tr>
        <td>
         <h1 class="heading-xlarge">2. 
             <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Your photo</h3>
         Your photo has been uploaded. Thankyou.<br>
            <br>
           

        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
     
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">3. 
              <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Other documents</h3>
         You have uploaded a copy of a police report. Thank you. If you want, you can, <a href="#">upload another document copy</a><br>
           
           
      </tr>
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">4. 
    </h1>
            
        </td>
        <td>
            <h3>Book a courier</h3>
         You need to book a courier to deliver your emergency travel document to your specified address - it will have to be signed for.<br>
            <br>
             <div class="form-group">
    <a href="21uploadphoto2" class="button">Book a courier  ></a>
  </div>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">5. 
    </h1>
            
        </td>
        <td>
            <h3>Pay</h3>
         At the end you'll pay for the emergency passport for £100 and the courier service for £20.  The £120 fee can be paid online by you or by a friend.<br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
    </tbody>
  </table>

  <h2 class="heading-medium">Now book a courier</h2>

 
  <div class="form-group">
    <a href="#" class="button">Book a courier></a>
  </div>

</main>

{% endblock %}
