{% extends "layout.html" %}

{% block page_title %}
 Next steps and progress
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Next steps
      <span class="heading-secondary">Your progress and next steps</span>
  </h1>

    <div class="grid-row">
    <div class="column-two-thirds">

    
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
         
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
         <h1 class="heading-xlarge">1. 
      <span class="heading-secondary">Done</span>
    </h1>
            
        </td>
        <td>
            <h3>Your details</h3>
          Your details have been entered successfully.<br>
        Thank you.  <a href="#">copy of your details</a>
        </td>
          <br/>
       
      </tr>
     
        
        
        
        
        
        
        <tr>
        <td>
         <h1 class="heading-xlarge">2. 
    </h1>
            
        </td>
        <td>
            <h3>Your photo</h3>
          Next we'll show you how to take a photo for your emergency passport and upload it.<br>
            <br>
            <div class="form-group">
    <a href="21uploadphoto2" class="button">Take and upload your photo  ></a>
  </div>

        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
     
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">3. 
    </h1>
            
        </td>
        <td>
            <h3>Other documents</h3>
         After that you'll have the option of uploading other documents if you need to. For example if you have a police report for a stolen passport.<br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">4. 
    </h1>
            
        </td>
        <td>
            <h3>Book a courier</h3>
         After that you can book a secure courier service to deliver your emergency passport to your specified address - it will have to be signed for.<br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
        
        
           <tr>
        <td>
         <h1 class="heading-xlarge">5. 
    </h1>
            
        </td>
        <td>
            <h3>Pay</h3>
         At the end you'll pay for the emergency passport for £100 and the courier service for £20.  The £120 fee can be paid online by you or by a friend.<br>
        </td>
         
        <td class="change-answer">
         
        </td>
      </tr>
        
        
        
    </tbody>
  </table>

  <h2 class="heading-medium">Now take your photo</h2>

  <p class="text">
  We'll show you how
  </p>

  <div class="form-group">
    <a href="21uploadphoto2" class="button">Take and upload your photo  ></a>
  </div>

</main>

{% endblock %}
