<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no"> 
    <title>Page title</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53px" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <img src="http://govuk-prototyping.herokuapp.com/hmrc-email/govuk_logotype_email.png" alt="GOV.UK" border="0">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="75%">

                            <h1 style="font-size: 36px; line-height: 1.315789474; font-weight: 700; margin: 19px 0 38px 0;">
                               Receipt
                            </h1>

                           <p> Thank you for your order from the Foreign & Commonwealth Office. We have now taken payment for the following:</p>

<p>Date: 12/01/2017</p>

<p>Payment Reference: ETD-BALI-ECOMM-110117-osz</p>

<p>FCO Reference: 1614841804585275</p>

<p>Service: emergency travel document</p>

<p>Amount: 100 GBP</p>

<p>Card type: visa</p>

<p>Card number: XXXX XXXX XXXX 2878</p>
                            
                            
                            
                            
                            
                            
                           

                        </td>
                    <td width="25%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>