{% extends "layout.html" %}
{% block page_title %}
FCO ETD Online Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Emergency travel documents project
			<span class="heading-secondary">RELEASE 2 PROTOTYPE</span>
	  	  	</h1>
	  	  	<hr>
			<p>Emergency Travel Documents Prototype for Release 2</p>
			<p>Press 'Run Prototype' to begin</p>
			<hr>
			<p><a class="button button-start" href="intro-howitworks.html" role="button">Run Prototype</a></p>
		</div>
	  
	</div>
</main>
{% endblock %}