{% extends "layout.html" %}
{% block page_title %}
FCO ETD Online Prototype
{% endblock %}
{% block content %}
<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">
				Online emergency travel documents - Release 1
			<span class="heading-secondary">v1.0</span>
		    </h1>
			<p>Some more content</p>
			<p><a class="button" href="govuk-intro1.html" role="button">Next</a></p>
	  </div>
	</div>
</main>
{% endblock %}